body{
font-family: Arial;
background:#f4f6fb;
margin:0;
}

.container{
max-width:700px;
margin:auto;
padding:25px;
}

h1{
text-align:center;
margin-bottom:20px;
}

.menu{
display:flex;
flex-direction:column;
gap:12px;
}

.card{
display:flex;
align-items:center;
background:white;
border-radius:10px;
padding:8px 12px;
box-shadow:0 2px 6px rgba(0,0,0,0.08);
gap:10px;
}

.card img{
width:60px;
height:60px;
min-width:60px;
max-width:60px;
object-fit:cover;
border-radius:8px;
margin-right:12px;
display:block;
}

.food-info{
flex:1;
}

.food-info h3{
margin:0;
font-size:16px;
}

.food-info p{
margin:3px 0;
color:#555;
}

.food-info input{
width:50px;
padding:4px;
font-size:14px;
}

input[type=text]{
width:100%;
padding:10px;
margin-top:10px;
border-radius:6px;
border:1px solid #ddd;
}

button{
width:100%;
margin-top:20px;
padding:14px;
background:#25D366;
border:none;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
}

button:disabled{
background:#ccc;
cursor:not-allowed;
}
